<%= form_for @medication_event do |f| %>

  <% if @medication_event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@medication_event.errors.count, "error") %> prohibited
        this measurement from being saved:
      </h2>
      <ul>
        <% @medication_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :datetime, 'Date and time' %><br>
    <%= f.text_field :datetime, id: 'medication_event_datetime', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :insulin %><br>
    <%= f.select :insulin, options_for_select(MedicationEvent.insulins), {}, {class: 'form-control'} %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-success' %>

  </p>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#medication_event_datetime').datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      defaultDate: moment()
    });
  });
</script>
