<div class='row'>
<%= form_for @decorated_metric.metric do |f| %>
  <%= render partial: 'shared/form_errors' %>

  <% @decorated_metric.form_fields.each_pair do |label, data| %>
    <div class='col-xs-12'>
      <% title = @decorated_metric.title_for_form(label) %>
      <% title << " (#{@decorated_metric.units[:short]})" if @decorated_metric.thing == label %>
      <%= f.label label, title %>
      <% attributes = {
        class: "form-control #{data[:css_class]}"
        }.merge data[:input_attributes].to_h %>
      <% params = attributes %>

      <% if data[:type] == :select %>
        <%= f.send(data[:type],
                    label,
                    options_for_select(
                      data[:options_for_select][:choices],
                      data[:options_for_select][:default]
                    ),
                    {},
                    attributes) %>
      <% else %>
        <%= f.send(data[:type], label, attributes) %>
      <% end %>
    </div>
  <% end %>

  <div class='col-xs-12 buttons'>
    <%= f.submit class: "btn #{@decorated_metric.button_name}" %>
    <%= render partial: 'shared/back' %>
    <%= render partial: 'shared/delete' %>
  </div>
<% end %>
</div>
