<div class='row'>
<%= form_for @metric do |f| %>
<div class='col-xs-12'>

  <%= render partial: 'shared/form_errors' %>
    <%= f.label :datetime, 'Date and time' %><br>
    <%= f.text_field :datetime, class: 'form-control datetime' %>
</div>
  <% @metric.class.fields.each do |field| %>
    <div class='col-xs-12'>
      <%= f.label field.to_sym %><br>

      <% if field == 'insulin' %>
        <%= f.select field.to_sym,
                     options_for_select(@metric.class.send("#{field}_types".to_sym), insulin_for_time),
                     {},
                     {class: 'form-control'}
                     %>
      <% else %>
        <% if get_type(@metric, field) == :float %>
          <%= f.number_field field.to_sym, class: 'form-control', step: 0.1, min: 0 %>
        <% else %>
          <%= f.text_field field.to_sym, class: 'form-control' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class='col-xs-12 buttons'>
    <%= f.submit class: 'btn btn-success' %>
    <%= render partial: 'shared/back' %>
    <%= render partial: 'shared/delete' %>
  </div>
<% end %>
</div>
