<div id='add-links'>
  <% models.each do |model| %>
    <%= link_to "Add #{model.short_name}", send("new_#{model.name.underscore}_path"), class: 'btn btn-success' %>
  <% end %>
</div>

<table class='table table-bordered table-striped' id=recent'>
  <%= render partial: 'table_caption' %>

  <% date_sift(@metrics).each_pair do |day, values| %>
    <tr>
      <th colspan='<%= @widest + 2 %>'>
        <% date = Time.parse(day) %>
        <%= date.strftime "%A %B #{date.day.ordinalize}" %>
      </th>
    </tr>
    <% values.each do |value| %>
      <tr>
        <td>
          <%= link_to value.datetime.strftime('%H:%M'),
            send("edit_#{value.class.name.underscore}_path".to_sym, value),
            title: 'Edit this metric'
          %>
        </td>
        <td>
          <%= class_name(value).short_name %>
        </td>
        <% count = 0 %>
        <% class_name(value).fields.each do |field| %>
          <td class='<%= "#{value.class.name.underscore.gsub('_', '-')}-#{field}" %>'>
            <%= value.send(field) %>
            <% if value.class.units[:applies_to] == field.to_sym %>
              <span data-toggle='tooltip' data-placement='top' title='<%= value.send(field) %> <%= value.class.units[:full] %>'>
                <%= value.class.units[:short] %>
              </span>
            <% end %>
          </td>
          <% count += 1 %>
        <% end %>
        <% (@widest - count).times do %>
          <td class='filler'></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
