<%= render partial: 'shared/add_links' %>

<%= render partial: 'shared/hours_picker', locals: {
  label: 'Charts',
  path: charts_path
}%>

<table class='table table-bordered table-striped' id='recent'>
  <% date_sift(@metrics).each_pair do |day, values| %>
    <tr>
      <th colspan='<%= @widest + 2 %>'>
        <% date = Time.parse(day) %>
        <%= date.strftime "%A %B #{date.day.ordinalize}" %>
      </th>
    </tr>
    <% values.each do |value| %>
      <tr>
        <td>
          <%= link_to value.datetime.strftime('%H:%M'),
            send(edit_path(value), value),
            title: 'Edit this metric'
          %>
        </td>
        <td>
          <%= class_name(value).short_name %>
        </td>
        <% count = 0 %>
        <% class_name(value).fields.each do |field| %>
          <td class='<%= class_for_table_cell value, field %>'>
            <% if value.class.units[:applies_to] == field.to_sym %>
              <div class='value'
                    data-toggle='tooltip'
                    data-placement='top'
                    title='<%= value.send(field) %> <%= value.class.units[:full] %>'>
                <span class='number'><%= value.send(field) %></span>
                <span class='units'><%= value.class.units[:short] %></span>
              </div>
            <% else %>
              <%= value.send(field) %>
            <% end %>
          </td>
          <% count += 1 %>
        <% end %>
        <% (@widest - count).times do %>
          <td class='filler'></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
