<%= render partial: 'shared/add_links' %>

<%= render partial: 'shared/hours_picker', locals: {
  label: 'Charts',
  fontawesome: 'fa-area-chart',
  path: charts_path
}%>

<table class='table table-bordered table-hover' id='recent'>
  <% date_sift(@metrics).each_pair do |day, values| %>
    <tr>
      <th colspan='<%= @widest + 2 %>' class='day-marker'>
        <% date = Time.parse(day) %>
        <%= date.strftime "%A %B #{date.day.ordinalize}" %>
      </th>
    </tr>
    <% values.each do |value| %>
      <%= render partial: 'shared/table_row', locals: {
        value: value
      } %>
    <% end %>
  <% end %>
</table>
