<%= form_for @metric do |f| %>

  <%= render partial: 'shared/form_errors' %>

  <p>
    <%= f.label :datetime, 'Date and time' %><br>
    <%= f.text_field :datetime, id: 'glucose_measurement_datetime', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :value %><br>
    <%= f.text_field :value, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-success' %>

  </p>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#glucose_measurement_datetime').datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      defaultDate: moment()
    });
  });
</script>
