<h1>BG measurements</h1>

<table class='table table-bordered table-striped'>
  <% date_sift(@glucose_measurements).keys.each do |k| %>
    <tr>
      <th colspan=3>
        <%= k %>
      </th>
    </tr>
    <% date_sift(@glucose_measurements)[k].each do |m| %>
      <tr>
        <td>
          <%= m.datetime.strftime '%H:%M' %>
        </td>
        <td>
          <%= m.value %>
        </td>
        <td>
          <%= link_to 'Destroy',
              glucose_measurement_path(m),
              method: :delete,
              data: {
                confirm: 'Are you sure?'
              } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Add new measurement', new_glucose_measurement_url, class: 'btn btn-success' %>
