<%= form_for @metric do |f| %>

  <%= render partial: 'shared/form_errors' %>

  <p>
    <%= f.label :datetime, 'Date and time' %><br>
    <%= f.text_field :datetime, id: 'carbohydrate_intake_datetime', class: 'form-control datetime' %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>
