<!DOCTYPE html>
<html>
  <head>
    <!--
    http://stackoverflow.com/questions/9386429/simple-bootstrap-page-is-not-responsive-on-the-iphone
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correction Dose</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
          <%= yield %>
        </div>
        <div class='col-md-3'></div>
      </div>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
  </body>

  <%= render partial: 'shared/javascripts' %>
</html>
